
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="https://d32ogoqmya1dw8.cloudfront.net/images/serc/empty_user_icon_256.v2.png" width="50" height="50">
    <a class="navbar-brand" href="/"> Welcome <%= machine %>  | <h7><%= date %><h7></a>
  </nav>